body{
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 20vh 1fr 20vh;
    gap: 10px;
}



img{
    border-image-repeat: stretch;
    max-height: 100%;
    border: 2px solid black;
    border-radius: 5px;
}

h1{
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: 2/3;
    border: 2px solid black;
    border-radius: 5px;
    margin: 0%;
}

h3{
    text-align: center;
}

nav{
    text-align: center;
    border: 2px solid black;
    border-radius: 5px;
}

main{
    border: 2px solid black;
    border-radius: 5px;
}

article{
    border: 2px solid black;
    border-radius: 5px;
    margin: 5px;

}

footer{
    grid-area: 3/2/span 1 /span 1  ;
    border: 2px solid black;
    border-radius: 5px;
    text-align: center;
}

ul{
    list-style: square;
    text-align: left;
    
}
